.headingInfo{
  margin-top: 100px;
  text-align: center;
  height: 50px;
  font-size: 26pt;
  font-weight: bold;
  background: #272c32;
}
.tile_infoContainer {

  margin-left: 20px;
  margin-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  width: 30%;
  margin-top: 10px;
  min-width: 400px;
}


.infoTiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.infoTilePrice {
  text-align: right;
  font-size: 1.5em;
  color: #ffb300;;
}

.infoTileCaption {
  width: 80%;
  font-size: 20pt;
  color: black;
  font-weight: bold;
}

.infoTilePriceLabel {
  text-align: right;
width: 20%;
display: block;
font-size: 1em;
color: #a2a2a2;
  }

.infoTileHead {
  display: flex;
  height: 35px;
  line-height: 60px;
}

.infoTileBody{

}

.lineSeparator{
  height: 1px;
  background: #ccc;
  border-bottom: 1px solid #ccc;

  margin-top: 20px;
}
.infoDetails{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.infoMore{
  width: 20%;
  text-align: right;
  cursor: pointer;
  color: orange;
}
.infoDays{
  width: 80%;
  font-size: 12pt;
}
.infoDetailContainer{
  margin-left: 15px;
  margin-right: 10px;
}
