.arabic .tiles,
.arabic .form-group,
.arabic .navigation-container,
.arabic .menubar, .arabic .flexRow {
  flex-direction: row-reverse; }

.arabic .footer-div-heading {
  text-align: right; }

.arabic .fa-chevron-right {
  transform: rotate(180deg); }

.arabic .navigation-container .logo .appNameSpan {
  left: -15px; }

.arabic .menubarContainer {
  justify-content: flex-start !important; }

.arabic .bannerText {
  right: 0;
  margin-right: -7px;
  padding-right: 16px !important;
  z-index: 1; }

.arabic .marginR7 {
  margin-left: 7px !important;
  margin-right: 0px !important; }

.arabic .formContainer form {
  align-items: flex-end; }

.arabic .reverse {
  transform: rotate(90deg); }

.arabic legend {
  text-align: right; }

.arabic #bali div:not(.contactus) img:not(.logoImg) {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
