.children_marginD10 > *{
  margin-bottom: 10px;
}

.carousel .slide{
  background: transparent !important;
}

.services_body > *{
  margin-bottom: 30px;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_div{
  text-transform: uppercase;
  white-space: nowrap;

  .services_body .breadcrumb > *{
    margin-right: 10px;

  }

  .formContainer form {
    align-items: center;
  }
  .services_body .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading_underline{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 7px;
  }

  .highlightsDiv{
    display: flex;
  }



  .hotelCauroselDiv > div,
  .transportCauroselDiv > div{
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel.carousel-slider{
      margin: 0px 7%;
      max-width: 100vh;
      height: auto !important;
      max-height: 100vhl


    }
  }

  .day_count{
    font-weight: bold;
    margin: 0px 20px;
  }

  .itineraryDiv{
    display: flex;
    flex-direction: column;
  }
}
